body {
    background-color: #202225;
    font-family: Arial;
    border-width: 0px;
    color: white;
}

button {
    cursor: pointer;
    background-color: #5864f1;
    color: black;
    box-shadow: 2px 5px 0px 0px rgb(0,0,0);
    border-radius: 10px;
    font-size: 30px
}

button:hover {
    background-color:#949494;
    transition: 0.2s;
}

button:active {
    box-shadow: 0px 0px 0px 0px rgb(0,0,0);
    transition: 0.2s;
}

table {
  width: 50%; /* Table width */
  margin: auto; /* Center horizontally */
  border-collapse: collapse; /* Remove gaps between cells */
}

th, td {
  padding: 10px; /* Spacing */
  border: 1px solid gray; /* Add border */
}

thead {
  background-color: rgb(50, 50, 50);
  color: white;
}

tbody tr:nth-child(even) {
  background-color: rgb(25, 28, 39);
}