#amountBox {
    margin: auto;
    width: 30%;
    background-color: #505255;
    padding: 35px;
    font-size: 50px;
    color: black;
    text-align: center;
}

#money {
    display: grid;
    grid: 100px / auto auto auto auto;
    font-size: 30px;
    margin-left: 25%;
    margin-right: 25%;
}

.individualMoney {
    margin: 5px;
    margin-top: 30px;
}