body {
    color: black;
}

.sidebar {
    width: 4.5%;
    height: 100%;
    float: left;
}

.sidebar-button {
    max-width: 90%;
    background-color: #5864f1;
    border-radius: 15%;
    margin-bottom: 10%;
}

.sidebar-logo {
    max-width: 100%;
    align-self: center;
    padding-top: 10%;
    padding-bottom: 10%;
}

.sidebar-line {
    max-width: 90%;
    margin-left: 0%;
}

button {
    cursor: pointer;
    box-shadow: 2px 5px 0px 0px rgb(0,0,0);
    border-radius: 10px;
    background-color: #5864f1;
    color: white;
}

button:hover {
    background-color:#949494;
    transition: 0.2s;
}

button:active {
    box-shadow: 0px 0px 0px 0px rgb(0,0,0);
    transition: 0.2s;
}

#money-image-title {
    height: 4%;
}

#money-image-counter {
    height: 25%;
}

#money-image-button {
    height: 50%;
}

#title {
    color: white;
    font-size: 250%;
    text-align: center;
}

#main-container {
    display: grid;
    grid-template-areas:
    "game leaderboard";
    grid-template-columns: 4fr 1fr;
    height: 93%;
    width: 95%;
    float: right;
    background-color: #35393f;
    padding-top: 1%;
}

#first-grid {
    grid-area: game;
    display: grid;
    height: 90vh;
    grid-template-areas:
    "money money notifications"
    "upgrades detriments abilities"
    "footer footer footer";
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 15% 55% 30%;
    text-align: center;
}

#money-counter {
    grid-area: money;
    color: white;
    font-size: 300%;
    text-align: center;
}

#notifications {
    grid-area: notifications;
    text-align: left;
    margin-left: 10%;
}

#notifications-title {
    font-size: 120%;
    color: white;
    padding-left: 5%;
}

#notifications-content {
    color: #7b7272;
    padding: 2%;
    padding-left: 8%;
    border: solid;
    border-color: black;
}

#upgrades-wrapper {
    grid-area: upgrades;
    width: 90%;
    margin-left: 5%;
}

#upgrades-title {
    color: white;
    font-size: 250%;
    text-align: left;
    padding-left: 10%;
}

#upgrades {
    overflow: auto;
    max-height: 100%;
}

#upgrades-test {
    background-color: rgb(119, 206, 152);
    border: solid;
    box-shadow: 5px 10px 10px;
    font-size: 200%;
    padding: 10% 10%;
}

#upgrades-test-description {
    color: grey;
    font-size: 70%;
}

#detriments-wrapper {
    grid-area: detriments;
    width: 90%;
    margin-left: 5%;
}

#detriments-title {
    color: white;
    font-size: 250%;
    text-align: left;
    padding-left: 10%;
}

#detriments {
    overflow: auto;
    max-height: 100%;
}

#detriments-test {
    background-color: rgb(184, 87, 69);
    border: solid;
    box-shadow: 5px 10px 10px;
    font-size: 200%;
    padding: 10% 10%;
}

#detriments-test-description {
    color: grey;
    font-size: 70%;
}


#abilities-wrapper {
    grid-area: abilities;
    width: 90%;
    margin-left: 5%;
}

#abilities-title {
    color: white;
    font-size: 250%;
    text-align: left;
    padding-left: 10%;
}

#abilities {
    overflow: auto;
    max-height: 100%;
}

#abilities-test {
    background-color: rgb(0, 238, 255);
    border: solid;
    box-shadow: 5px 10px 10px;
    font-size: 200%;
    padding: 10% 10%;
}

#abilities-test-description {
    color: grey;
    font-size: 70%;
}

#money-button {
    grid-area: footer;
    margin-top: 10%;
    color: black;
    font-size: 300%;
}

#second-grid {
    grid-area: leaderboard;
}

#leaderboard {
    margin-left: 5%;
    border-left: 1px solid grey;
    height: 90vh;
    overflow: auto;
}

#leaderboard-title {
    color: white;
    text-align: center;
    font-size: 250%;
    margin-top: 0px;
    padding-top: 10%;
}

#leaderboard-test {
    border: solid;
    margin: 5% 5%;
    padding: 3% 3%;
    font-size: 200%;
    background-color: rgb(200, 255, 205);
}

#leaderboard-test-content {
    font-size: 50%;
}